*
	margin: 0
	padding: 0
	font-family: 'Poppins', sans-serif
	color: #fff
a 
	text-decoration: none
	&:hover
		cursor: pointer

@import fonts.sass
@import header.sass
@import header_slider.sass
@import custom_dots.sass

main
	@import servises.sass
	@import team.sass
	@import contacts.sass
