@media screen and (max-width:1366px)
	.header_slider
		.slider_nav
			.slider_button
				right: 4.5%
				&:first-child
    			left: 4%
  main 
		.team
			width: 90% !important
			.team_ava 
				.person_ava
					&:nth-child(2)
						transform: translate(10%, -3px) scale(0.89)
					&:nth-child(3)
						transform: translate(24%, 0px) scale(0.78)
		.contact_us
			width: 90% !important

@media screen and (max-width:1310px)
	header 
		nav
    	margin-left: 18.5%
    	
@media screen and (max-width:1024px)
	header
		nav
			position: absolute
			margin-left: 5%
			margin-top: 0.3%
			&:hover
				cursor: pointer
			ul
				display: inherit
				li					
					transition: all 1s linear
					margin: inherit
					border-top: 5px solid #fff
					height: 10px
					&:nth-child(n+4)
						display: none
					a
						visibility: hidden
			&.show
				// transition: all 1s linear
				ul
					li
						display: block
						border-top: none
						height: inherit
						a
							visibility: visible
